* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #777;
	line-height: 1.5;
}

.animation {
	opacity: 0;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

p {
	line-height: 2;
}

a:hover {
	text-decoration: none;
}

h3 {
	font-size: 36px;
}

h5 {
	font-size: 22px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: #333;
}

.section-padding {
	padding: 120px 0;
}

.full-width {
	width: 100%;
}

.primary {
	color: #e84118;
}

a, a:hover {
	color: #fff;
}

.svg-bottom {
	position: absolute;
	width: 100%;
	bottom: -1px;
	left: 0;
	z-index: 2;
}

.svg-top {
	position: absolute;
	width: 100%;
	top: -1px;
	left: 0;
	z-index: 2;
}

.overlay {
	background-color: rgba(0,0,0,0.8);
}

canvas {
	display: block;
}

@media (max-width: 480px) {
	.section-padding {
		padding: 60px 0;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}
